<div class="text-left caption">
  <h1>My toDoList</h1>
  <hr>
</div>
<div class="container">
  <div class="header-wrapper">
    <img src="../../assets/imagesToDo/logo.jpg" width="50px" alt="logoToDo">
    <h1>notes</h1>
  </div>
  <div class="todo-input-wrapper">
    <input type="text" [(ngModel)]="taskText" value="{{ taskText }}">
    <button class="btn btn-info" (click)="onAddToDoClick()">Submit</button>
  </div>
  <div *ngFor="let task of taskService.getTask()">
    <app-task-item [task]="task"></app-task-item>
  </div>
</div>
<div class="text-left button-bottom-wrapper">
  <button class="btn btn-gray" (click)="onBeckToHomePage()">back to home page</button>
</div>
