.container .navbar .container-fluid .navbar-header {
  width: 50%;
}

.container .navbar .container-fluid .navbar-header .logo-img {
  width: 15%;
  border-radius: 50%;
}

.container .navbar .container-fluid  .navbarLink {
  width: 100%;
}

.container .navbar .container-fluid .navbarLink .nav .nav-link {
  color: darkblue;
}

.container .navbar .container-fluid .navbarLink .nav .nav-link:hover {
  background-color: aliceblue;
}

.container .navbar .container-fluid .navbarLink .nav .nav-item:last-child {
  border: 1px solid red;
}
