<div class="text-left caption">
  <h1>My calculator</h1>
  <hr>
</div>
<div class="container">
  <div class="border-wrapper">
    <div class="form-group">
      <input class="form-control display" value="{{ displayResult }}">
    </div>
    <div class="wrapper">
      <button type="button" class="btn btn-gray" (click)="onCommandOperationButtonClick($event)">AC</button>
      <button type="button" class="btn btn-gray" (click)="onCommandOperationButtonClick($event)">%</button>
      <button type="button" class="btn btn-gray">&#177;</button>
      <button type="button" class="btn btn-warning" (click)="onOperationButtonClick($event)">÷</button>

      <button type="button" class="btn btn-secondary" (click)="onNumberButtonClick($event)">7</button>
      <button type="button" class="btn btn-secondary" (click)="onNumberButtonClick($event)">8</button>
      <button type="button" class="btn btn-secondary" (click)="onNumberButtonClick($event)">9</button>
      <button type="button" class="btn btn-warning" (click)="onOperationButtonClick($event)">*</button>

      <button type="button" class="btn btn-secondary" (click)="onNumberButtonClick($event)">4</button>
      <button type="button" class="btn btn-secondary" (click)="onNumberButtonClick($event)">5</button>
      <button type="button" class="btn btn-secondary" (click)="onNumberButtonClick($event)">6</button>
      <button type="button" class="btn btn-warning" (click)="onOperationButtonClick($event)">-</button>

      <button type="button" class="btn btn-secondary" (click)="onNumberButtonClick($event)">1</button>
      <button type="button" class="btn btn-secondary" (click)="onNumberButtonClick($event)">2</button>
      <button type="button" class="btn btn-secondary" (click)="onNumberButtonClick($event)">3</button>
      <button type="button" class="btn btn-warning" (click)="onOperationButtonClick($event)">+</button>

      <button type="button" class="btn btn-secondary zero" (click)="onNumberButtonClick($event)">0</button>
      <button type="button" class="btn btn-secondary" (click)="onCommandOperationButtonClick($event)">,</button>
      <button type="button" class="btn btn-warning" (click)="onResultButtonClick($event)">=</button>
    </div>
  </div>
</div>
<div class="text-left button-bottom-wrapper">
  <button class="btn btn-gray" (click)="onBeckToHomePage()">back to home page</button>
</div>

