<div class="text-left caption">
  <h1>My calculator</h1>
  <hr>
</div>
<div class="container">
    <div class="border-wrapper">
      <div class="form-group">
        <input class="form-control display">
      </div>
      <div class="wrapper">
          <button type="button" class="btn btn-gray">AC</button>
          <button type="button" class="btn btn-gray">%</button>
          <button type="button" class="btn btn-gray">+/-</button>
          <button type="button" class="btn btn-warning">÷</button>

          <button type="button" class="btn btn-secondary" (click)="onNumberButtonClick()">7</button>
          <button type="button" class="btn btn-secondary" (click)="onNumberButtonClick()">8</button>
          <button type="button" class="btn btn-secondary" (click)="onNumberButtonClick()">9</button>
          <button type="button" class="btn btn-warning">x</button>

          <button type="button" class="btn btn-secondary" (click)="onNumberButtonClick()">4</button>
          <button type="button" class="btn btn-secondary" (click)="onNumberButtonClick()">5</button>
          <button type="button" class="btn btn-secondary" (click)="onNumberButtonClick()">6</button>
          <button type="button" class="btn btn-warning">-</button>

          <button type="button" class="btn btn-secondary" (click)="onNumberButtonClick()">1</button>
          <button type="button" class="btn btn-secondary" (click)="onNumberButtonClick()">2</button>
          <button type="button" class="btn btn-secondary" (click)="onNumberButtonClick()">3</button>
          <button type="button" class="btn btn-warning">+</button>

          <button type="button" class="btn btn-secondary zero">0</button>
          <button type="button" class="btn btn-secondary">,</button>
          <button type="button" class="btn btn-warning">=</button>
      </div>
    </div>
</div>
<div class="text-left button-bottom-wrapper">
  <button class="btn btn-gray">back to home page</button>
</div>
