<h1 class="text-center">
  I'm a junior programmer.
</h1>
<p class="text-center">
  Hello everybody. I'm a junior programmer. I want to introduce you to my first project, which I published on github.
  Before each person, sooner or later there is a choice - who to become ? And now I also had this question.
  I've been thinking for a very long time of what I become, because there are many important professions in the world.
  For example, a doctor is a very important profession, because without these people we could not improve ourselves;
  seamstress, without her, we would walk in ugly clothes, if she ever had us; confectioners, without which we would not
  have bread and other pastries; military,
  in my opinion, almost the most important profession, because without it no one would be protected. But now - the 21st
  century, and I chose a profession that corresponds to this century - a programmer.
  Thank you for reading and I hope you like my project. In due course I will update it and finish different buns).
</p>
<p class="text-center">
  Who are interested in my projects write, there are real projects on which I am currently working!
</p>
