.home-menu {
  margin-top: 50px;
}

.home-menu h1 {
  margin-bottom: 50px;
}

.home-menu .home-image {
  margin-top: 50px;
}

.home-menu .button-group button {
  margin-right: 50px;
}

.home-menu .button-group button:hover {
  background-color: aliceblue;
}

.home-menu .button-group button:last-child {
  border: 2px solid red;
}
