.caption h1 {
  margin-top: 5%;
}

.caption hr {
  margin-bottom: 15%;
}

.wrapper .items {
  max-width: 100%;
  max-height: 100%;
  padding-left: 28%;
  text-align: center;
}

.wrapper .button-wrapper button  {
  margin-top: 20%;
}

.wrapper .button-wrapper button:hover {
  background-color: aliceblue;
}
